Task: build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates - (use hiring.csv)

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

1. import required packages
2. read csv and analyse data
3. create prediction model using linear regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# matplotlib inline
from word2number import w2n
from sklearn import linear_model

In [2]:
hiring_data = pd.read_csv('hiring.csv')
hiring_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
hiring_data['experience'] = hiring_data['experience'].fillna(0)
hiring_data['test_score(out of 10)'] = hiring_data['test_score(out of 10)'].fillna(hiring_data['test_score(out of 10)'].median())
hiring_data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
temp_exp_list = []
for i in hiring_data['experience'][2:]:
    temp_exp_list.append(w2n.word_to_num(i))
temp_exp_list
hiring_data['experience'][2:] = temp_exp_list
hiring_data

C:\Users\sande\AppData\Local\Temp\ipykernel_14528\1400548848.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hiring_data['experience'][2:] = temp_exp_list

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    8.0                           7      72000
7         11                    7.0                           8      80000

In [6]:
hr_train = linear_model.LinearRegression()
hr_train.fit(hiring_data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], hiring_data['salary($)'])

LinearRegression()

In [7]:
hr_train.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [9]:
hr_train.intercept_

17737.263464337688

In [15]:
hr_train.predict([[0, 0, 0]])

C:\Users\sande\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([17737.26346434])